.form-control {
    margin: .5em;
}
.form-group {
    width: 80vw;
    margin: 2em auto;
}

@media screen and (min-width: 500px) {
    .form-group {
        width: 50%;
        max-width: 300px;
    }
}