* {
    box-sizing: border-box;
    margin: 0;
}
.movie_card * {
  letter-spacing: 0 !important;
  text-align: left;
}
.movie_card h1,
.movie_card h2,
.movie_card h3,
.movie_card h4 {
  font-family: "Times New Roman", helvetica, arial, sans-serif;
  font-size: revert;
}
.movie_card{
    position: relative;
    display: block;
    width: 800px;
    height: 350px;
    margin: 100px auto;
    margin-bottom: 1em;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.4s;
}
.movie_card:hover{
    transform: scale(1.02);
    transition: all 0.4s;
}
.info_section {
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
}
.movie_header {
    position: relative;
    padding: 25px;
    height: 40%;
}
img.locandina {
  width: auto;
}
.movie_header h1{
        color: #fff;
        font-weight: 400;
}
.movie_header h4{
    color: #9ac7fa;
    font-weight: 400;
}
.minutes {
    display: inline-block;
    margin-top: 0;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.13);
}
.type {
    display: inline-block;
    color: #cee4fd;
    margin-left: 10px;
}
.locandina{
    position: relative;
    float: left;
    margin-right: 20px;
    height: 120px;
    box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
}
.locandina img {
    width: fit-content !important;
}
.movie_desc{
    padding: 25px;
    height: 50%;
    overflow: auto;
}
.text{
    color: #cfd6e1;
}
.movie_social{
    height: 10%;
    padding-left: 15px;
    padding-bottom: 20px;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    display: inline-block;
    color: rgba(255,255,255,0.4);
    transition: color 0.3s;
    transition-delay: 0.15s;
    margin: 0 10px;
}
li:hover{
    transition: color 0.3s;
    color: rgba(255,255,255,0.8);
}
i{
    font-size: 19px;
    cursor: pointer;
}

.blur_back{
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%; right: 0;
    background-size: contain !important;
    border-radius: 11px;
}

.containTrailer {
  width: 80%;
  bottom: 0;
  height: 3rem;
  position: relative;
  text-align-last: center;
  display: none;
}

.btn {
  border: 1px solid rgb(0 27 255);
  color: white;
}
#tt0468569, #tt0114369 {
  background-size: cover !important;
}





  @media screen and (min-width: 768px) {
    .movie_header{
      width: 60%;
      margin-bottom: 10px;
    }

    .movie_desc{
      width: 50%;
    }

    .info_section{
      background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
    }

    .blur_back{
      width: 80%;
      background-position: -100% 10% !important;
      background-size: cover !important;
    }
    .containTrailer {
      width: 50%;
      top: 0;
      right: 0;
      height: 100%;
      position: absolute;
      z-index: 9999;
      text-align-last: center;
      display: table;
    }
    .material-icons-outlined {
      color: rgba(200, 200, 200, 0.5);
      font-size: 8rem;
      opacity: 0;
      transition: linear .5s;
    }
    .material-icons-outlined:hover {
      opacity: 1;
    }
    .material-icons-outlined:focus {
      font-size: 7rem;
    }
    .trailerButton {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    .movie_card{
      width: 95%;
      margin: 70px auto;
      min-height: 350px;
      height: auto;
    }

    .blur_back{
      width: 100%;
      background-repeat: no-repeat;
    }

    .movie_header{
      width: 100%;
      margin-top: 85px;
    }

    .movie_desc{
      width: 100%;
      height: 90%;
    }

    .info_section{
      background: linear-gradient(to top, rgb(20, 20, 19) 50%, transparent 100%);
      display: inline-grid;
      grid-template-rows: auto 10em;
    }
  }


  #bright {
    box-shadow: 0px 0px 150px -45px rgba(0, 127, 255, 0.5);
  }
    #bright:hover{
      box-shadow: 0px 0px 120px -55px rgba(0, 127, 255, 0.5);
    }