/*--------------- SEARCH FORM---------------- */
#searchForm {
    position: relative;
    margin-top: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: #007fff;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

#searchForm input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.fa {
    box-sizing: border-box;
    padding: 13px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
    cursor: pointer;
}

.fa:before {
    font-family: "Font Awesome 5 Free";
    content: "\f002";
    font-weight: 900;
}

#searchForm:hover {
    width: 80%;
    cursor: pointer;
    transition: all 1s cubic-bezier(0.03, 0.78, 0.4, 1.5)
}

#searchForm:hover input {
    display: block;
    border: solid 3px #007fff;
}

#searchForm:hover .fa {
    background: #007fff;
    color: white;
}

/* switch icon to arrow */
#searchForm:hover .fa:before {
    content: "\f061";
}

/* fix for unwanted movement */
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

/* for unwanted movement on page resize */
.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}

/*--------------- NAVIGATION BAR---------------- */

.navigation {
    width: 100vw;
  }
  .navtemplate {
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 66px auto;
    grid-gap: .5em;
  }

  .lognav {
    grid-column: span 4;
  }

  .img1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .img2 {
    grid-column: 3/5;
    grid-row: 1/2;
  }

  .reg {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .log {
    grid-column: 4/5;
    grid-row: 2/3;
    margin-right: .5em;
  }
  .swrap {
    grid-column: span 4;
    margin: auto;
    grid-row: 2/3;
    margin: 0;
  }
  .unlog {
    grid-column: 3/5;
    display: flex;
    flex: 0 1 auto;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .navbar-collapse {
    display: flex;
  }
  #navbarSupportedContent {
    flex: 0 1 auto;
  }


.navigation .nav-link,
.button {
    position: relative;
    padding: 2px;
}

.nav-link,
.button {
    color: white;
    font-size: 1.3rem;
    padding: 2px;
}

.button {
  display: block;
  margin: auto;
  padding: 2px 40px;
  background-color: transparent;
}
.nav-link:hover,
.button:hover {
    color: white;
    z-index: 10;
}

.navigation .nav-link::before,
.button::before {
    content: '';
    position: absolute;
    width: 100%;
    max-width: 100%;
    height: 2px;
    bottom: 0;
    left:0;
    background-color: rgba(0, 127, 225, 0);
    transform: scale(0);
    transition: all 0.5s cubic-bezier(0.03, 0.78, 0.4, 1.5);
    opacity: 0;
}

.navigation .nav-link:hover::before,
.button:hover::before {
    background-color: rgba(0, 127, 225, 1);
    transform: scale(1);
    opacity: 1;
    z-index: 1;
}



  @media screen and (min-width: 310px) {
    .unlog {
      flex-direction: row;
    }
  }
  @media screen and (min-width: 400px) {
    .fa {
        margin-top: 0;
    }
  }
  @media screen and (min-width: 400px) and (max-width: 599px) {
    .navtemplate {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: .5em;
    }
    li.img1, li.img2 {
      max-width: 10rem;
    }
    .reg {
      grid-column: 2/3;
      grid-row: 1/2;
      text-align: center;
      flex: 1 1 auto;
      padding: 15px;
    }
    .lognav, .unlog {
      grid-column: span 3;
    }
    .log {
      grid-column: 2/3;
      grid-row: 1/2;
      text-align: center;
      flex: 1 1 auto;
      padding: 15px;
    }
    .swrap {
      grid-column: 2/3;
      grid-row: 1/2;
      margin-bottom: 10px;
    }

    .img1 {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    .img2 {
      grid-column: 3/4;
      grid-row: 1/2;
    }
  }

  @media screen and (min-width: 600px) {
    .navtemplate {
      display: flex;
      flex-wrap: nowrap;
      max-height: 100px;
      justify-content: center;
      align-items: center;
      margin: 0;
    }

    .navtemplate li {
      flex: 1 1 100px;
      text-align: center;
    }
    .img1, .img2 {
      flex: 0 1 auto;
      max-width: 275px;
    }

    .img1 {
      order: 1;
    }

    .img2 {
      order: 4;
    }

    .unlog {
      flex: 1 1 auto;
      order: 3;

    }
    .swrap {
      order: 2;
      align-self: normal;
    }
    .log {
      margin: 0;
    }
    .lognav {
      order: 3;
      flex: 1 1 auto;
    }
  }

  @media screen and (min-width: 601px) and (max-width: 980px) {
    .unlog {
      flex-direction: column;
      margin: 0 .5em;
    }
  }