img.social {
    width: 3rem;
    padding-right: 1em;
}
.social-icon {
    text-align: initial;
    margin-bottom: 2em;
}

.social-icon a {
    color: white;
}

.social-icon a:hover {
    color: rgb(200, 200, 200);
}

.profile-button {
    background: transparent;
}

.profile-button:hover {
    background-color: #001bff;
}


.m-t-5{
    margin-top: 10px;
}
.card {
    background: rgba(50, 50, 50, .5);
    margin-bottom: 30px;
    transition: all .5s;
    border: 0;
    border-radius: .1875rem;
    display: inline-block;
    position: relative;
    width: 100%;
    box-shadow: 0px 0px 150px -45px rgb(0 127 255 / 50%);
}

.card .body {
    font-size: 15px;
    color: #fff;
    padding: 20px;
    font-weight: 400;
}

.card:hover {
    box-shadow: 0px 0px 120px -55px rgb(0 127 255 / 50%);
    transform: scale(1.02);
    transition: all 0.4s;
}

.profile-page .profile-header {
    position: relative;
}

.profile-page .profile-header .profile-image img {
    border-radius: 50%;
    width: 140px;
    border: 3px solid #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.profile-page .profile-header .social-icon a {
    margin: 0 5px;
}

.profile-page .profile-sub-header {
    min-height: 60px;
    width: 100%;
}

.profile-page .profile-sub-header ul.box-list {
    display: inline-table;
    table-layout: fixed;
    width: 100%;
    background: #eee
}

.profile-page .profile-sub-header ul.box-list li {
    border-right: 1px solid #e0e0e0;
    display: table-cell;
    list-style: none;
}

.profile-page .profile-sub-header ul.box-list li:last-child {
    border-right: none;
}

.profile-page .profile-sub-header ul.box-list li a {
    display: block;
    padding: 15px 0;
    color: #424242;
}

.info {
    text-align: left;
}

.btn-outline-erase {
    border: 1px solid red;
    color: white;
}

.btn-outline-erase:hover {
    background-color: #b30000;
    color: white;
    border-color: red;
}


.non-gravatar {
    max-width: 60vw;
    margin: 0 auto;
}

.row {
    justify-content: center;
    align-items: center
}

@media screen and (max-width: 500px) {
    .buttons {
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (min-width: 500px) {
    .body {
        width: 50vw;
    }
    .profile-page .profile-header {
        width: 50vw;
    }
    .profile-page {
        margin-top: 20vh;
    }
    .social-icon {
        margin-bottom: 0;
    }
}