@import url('navbar.css');
@import url('cards.css');
@import url('forms.css');
@import url('infoCards.css');
@import url('profile.css');
@import url('results.css');

/* Scrollbar customizations. */

/*The pseudo element ::-webkit-scrollbar is not supported by Firefox or Edge (prior to version 78) */
::-webkit-scrollbar {
  width: 12px;
  height: 7px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, .6);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 128, 0, .8);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 128, 0, 1);
}
/* Scrollbar for Firefox. This property is experimental, it only works in Firefox */
* {
  scrollbar-color: rgba(255, 128, 0, .8) rgba(50, 50, 50, .4);
}


a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

legend {
  font-size: 2em;
  padding: 0 .25em;
  color: white;
  text-align: left;
}

main
{
    /* Scroll horizontally as needed */
    overflow: auto;

    /* Center contents */
    text-align: center;
}

body {
  background-color: #dce1e5;
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-size: 14px;
  color: #cfd6e1;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
}

html, body {
  width: 100%;
  height: 100%;
}

button {
  font-family: inherit;
  border: 3px;
  cursor: pointer;
}
button:focus {
  outline: 0;
}
button:hover {
  border-color: #007fff;
}

h1, h2, h3, h4 {
  font-family: "Times New Roman", helvetica, arial, sans-serif;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 400;
}

.gray-bg {
    background-color: #111111;
    border-radius: 10px;
    margin-top: 50px;
    border-color: #007fff;
}
.gray-bg:hover {
  background-color: #222222;
}
img {
    display: inline-block;
    width: calc(100% - 5px);
}
img {
    vertical-align: middle;
    border-style: none;
}

footer {
  font-size: 1rem;
  margin: 1rem;
  text-align: center;
  color: white;
}

footer a {
  color: #ff8000;
}

footer a:hover {
  color: orange;
}

label {
  color: black;
}




.grid-container { width: 100%; position: absolute; bottom: 0; left: 0; }

.grid-container:after {
  -webkit-mask-image: -webkit-gradient(linear, left 90%, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: gradient(linear, left 90%, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
	transform: perspective(200px) rotateX(40deg) scale(2,1) translateZ(0);
  content: ""; display: block; position: fixed; bottom: 0; left: 0; right: 0; width: 100%; height: 100vh;
  padding: 1px;
  -webkit-background-clip: content-box;
  -webkit-backface-visibility: hidden;
  outline: 1px solid transparent;
  transform-origin: bottom center;
  will-change: transform;
}

.grid-container:after {
  background-position: center bottom;
  z-index: -1;
  background-size: 40px 40px;
  background-image:
  linear-gradient(to right, blue 2px, transparent 2px),
  linear-gradient(to bottom, blue 1px, transparent 2px);
}
