{% extends "layout.html" %}

{% block title %}
    Movies and Series
{% endblock %}


{% block main %}
  <section class="tops">
    <fieldset class="cards-container">
    <legend class="jumbotron">Top 10 All-Time Movies</legend>
      {% for movie in movies %}
        <div class="title">
          <!-- Controls if star is empty or full -->
          {% if movie.id not in check %}
            <form id="{{ movie.id }}" action="/favorite" method="post">
              <input name="imdb_id" type="text" style="display: none" value="{{ movie.id }}">
            </form>
          {% else %}
            <form id="{{ movie.id }}" action="/remove" method="post">
              <input name="imdb_id" type="text" style="display: none" value="{{ movie.id }}">
            </form>
          {% endif %}
          <form action="/info" class="star" method="post">
            <input name="imdb_id" type="text" style="display: none" value="{{ movie.id }}">
            <button class="btn-card" type="submit"><img src="{{ movie.image }}" loading="lazy" alt="Poster for {{ movie.title }}"></button>
            {% if movie.id not in check %}
            <button class="fav-button" form="{{ movie.id }}" type="submit"><i class="material-icons">&#xf06f</i></button>
            {% else %}
            <button class="fav-button" form="{{ movie.id }}" type="submit"><i class="material-icons" style="color: gold;">&#xe838</i></button>
            {% endif %}
          </form>
        </div>
      {% endfor %}
    </fieldset>
  </section>

<br>

  <section class="tops">
    <fieldset class="cards-container">
    <legend class="jumbotron">Top 10 All-Time Series</legend>
      {% for show in shows %}
        <div class="title">
          <!-- Controls if star is empty or full -->
          {% if show.id not in check %}
            <form id="{{ show.id }}" action="/favorite" method="post">
              <input name="imdb_id" type="text" style="display: none" value="{{ show.id }}">
            </form>
          {% else %}
            <form id="{{ show.id }}" action="/remove" method="post">
              <input name="imdb_id" type="text" style="display: none" value="{{ show.id }}">
            </form>
          {% endif %}
          <form action="/info" class="star" method="post">
            <input name="imdb_id" type="text" style="display: none" value="{{ show.id }}">
            <button class="btn-card" type="submit"><img src="{{ show.image }}" loading="lazy" alt="Poster for {{ show.title }}"></button>
            {% if show.id not in check %}
            <button class="fav-button" form="{{ show.id }}" type="submit"><i class="material-icons">&#xf06f</i></button>
            {% else %}
            <button class="fav-button" form="{{ show.id }}" type="submit"><i class="material-icons" style="color: gold;">&#xe838</i></button>
            {% endif %}
          </form>
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}