<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!--Bootstrap stylesheet-->
        <link defer rel="stylesheet" href="/static/bootstrap.css">
        <!--Links to Google fonts and Fontawesome-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

        <!-- Local Stylesheets -->
        <link href="/static/styles.css" rel="stylesheet">
        <link defer href="/static/back-to-top.css" rel="stylesheet">
        <link href="/static/favicon.ico" rel="icon">

        <!-- Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

        <!--Link to latest full jquery library and local javascript files-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script defer src="/static/back-to-top.js"></script>

        <title>{% block title %}{% endblock %}</title>
    </head>

    <body class="grid-container" style="background-color: black">
      <!-- Tron Grid background by Justin O'Neill - https://codepen.io/oneezy/pen/OaQNPe
      Improved by Joah Gerstenberg - https://codepen.io/JoahG/pen/QJQdJB -->
        <nav class="navigation tab-content mr-auto navbar-nav navbar-expand-sm navbar-dark">
        <!-- Tron Image By https://dribbble.com/shots/1238186-TRON -->
            <ul class="navtemplate">
              <li class="img1"><a href="/"><img src="/static/orange-motorcycle.png" loading="lazy"></a></li>
              <li class="img2"><a href="/"><img src="/static/blue-motorcycle.png" loading="lazy"></a></li>
              <li class="swrap">
                <form action="/search" id="searchForm" method="post">
                  <input name="search" autocomplete="off" type="search" aria-label="Search">
                  <i class="fa" role="button" type="submit" aria="search"></i>
                </form>
              </li>
            {% if not session.user_id %}
              <div class="lognav d-flex justify-content-around p-2 align-items-center">
                <li class="reg nav-item"><a class="nav-link" href="/register">Register</a></li>
                <li class="log nav-item"><a class="nav-link" href="/login">Log In</a></li>
              </div>
            {% elif session.user_id %}
              <div class="lognav d-flex justify-content-around p-2 align-items-center">
                <li class="favorites nav-item"><a class="nav-link" href="/mylist">Favorites</a></li>
                <li class="profile nav-item"><a class="nav-link" href="/profile">Profile</a></li>
                <li class="logout nav-item" style="order: 3"><a class="nav-link" href="/logout">LogOut</a></li>
              </div>
            {% endif %}
            </ul>
        </nav>
      <main class="p-1">
          {% block main %}{% endblock %}
          <button id="back-to-top"><i class="fas fa-chevron-circle-up" id="topButton"></i></button>
      </main>


      <footer>
        {% block footer %}
          {% if f1 %}
            <p>Data provided for free by <a href="https://gravatar.com/" target="_blank">Gravatar</a>.</p>
          {% elif f2 %}

          {% else %}
            <p>Data provided for free by <a href="https://imdb-api.com/" target="_blank">IMDb</a>. View <a href="https://www.imdb.com/conditions" target="_blank">IMDb’s Terms of Use</a>.</p>
          {% endif %}
        {% endblock %}
      </footer>
    </body>
</html>