{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
  <!-- Movie Card from https://freefrontend.com/css-movie-cards/ -->

  <div class="movie_card" id="bright">
    <div class="info_section">
      <div class="movie_header">
        <img class="locandina" src="{{ ms.image }}" loading="lazy" alt="Poster for {{ ms.title }}">
        <h1>{{ ms.title }}</h1>
        <h4>{{ ms.year }}, {{ ms.directors }}</h4>
        <span class="minutes">{{ ms.runtimeStr }}</span>
        <p class="type">{{ ms.genres }}</p>
      </div>
      <div class="movie_desc">
        <p class="text">{{ ms.plot }}</p>
      </div>
      <a style="text-align-last: center;" href="{{ ms.trailer }}" target="_blank"><button class="trailerButton btn btn-outline">Watch Trailer</button></a>
      <div class="movie_social">
          {% if ms.id not in check %}
            <form id="{{ ms.id }}" action="/favorite" method="post">
              <input name="imdb_id" type="text" style="display: none" value="{{ ms.id }}">
              <button class="fav-button" form="{{ ms.id }}" type="submit"><i class="material-icons">&#xf06f</i></button>
            </form>
          {% else %}
            <form id="{{ ms.id }}" action="/remove" method="post">
              <input name="imdb_id" type="text" style="display: none" value="{{ ms.id }}">
              <button class="fav-button" form="{{ ms.id }}" type="submit"><i class="material-icons" style="color: gold;">&#xe838</i></button>
            </form>
          {% endif %}
      </div>
    </div>
    <div class="containTrailer"><a href="{{ ms.trailer }}" target="_blank" style="display: table-cell !important; vertical-align: middle;"><i class="material-icons-outlined">&#xe039</i></a></div>
    <div class="blur_back" id="{{ ms.id }}" style="background: url({{ image2 }});"></div>
  </div>
  <br>
  {% if not similars %}

  {% else %}
  <section class="tops">
    <fieldset class="cards-container">
    <legend class="jumbotron">Similar Titles</legend>
      {% for title in similars %}
        <div class="title">
          <!-- Controls if star is empty or full -->
          {% if title.id not in check %}
            <form id="{{ title.id }}" action="/favorite" method="post">
              <input name="imdb_id" type="text" style="display: none" value="{{ title.id }}">
            </form>
          {% else %}
            <form id="{{ title.id }}" action="/remove" method="post">
              <input name="imdb_id" type="text" style="display: none" value="{{ title.id }}">
            </form>
          {% endif %}
          <form action="/info" class="star" method="post">
            <input name="imdb_id" type="text" style="display: none" value="{{ title.id }}">
            <button class="btn-card" type="submit"><img loading="lazy" src="{{ title.image }}" alt="Poster for {{ title.title }}"></button>
            {% if title.id not in check %}
            <button class="fav-button" form="{{ title.id }}" type="submit"><i class="material-icons">&#xf06f</i></button>
            {% else %}
            <button class="fav-button" form="{{ title.id }}" type="submit"><i class="material-icons" style="color: gold;">&#xe838</i></button>
            {% endif %}
          </form>
        </div>
      {% endfor %}
    </fieldset>
  </section>
  {% endif %}
{% endblock %}