{% extends "layout.html" %}

{% block title %}
    My Profile
{% endblock %}

{% block main %}
<!-- https://freefrontend.com/bootstrap-profiles/ -->
    {% if not gravatar %}
    <section class="non-gravatar row">
        <div class="card profile-page">
            <div class="body">
                <h1 style="margin-bottom: 1rem;">Profile</h1>
                <div>
                    <a href="/mylist"><button class="profile-button btn btn-primary">Favorites</button></a>
                    <a href="/delete"><button class="btn btn-outline-erase">Delete My Account</button></a>
                </div>
                <br>
                <p>Register at <a href="https://gravatar.com/" target="_blank">Gravatar</a> for a full profile page.</p>
            </div>
        </div>
    </section>

    {% else %}
    <section class="container profile-page">
    <div class="row">
        <div class="col-lg-7 col-md-12">
            <div class="card profile-header">
                <div class="body">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="profile-image float-md-right"> <img src="{{ gravatar.thumbnailUrl }}?s=315" loading="lazy" alt=""> </div>
                            <p class="social-icon m-t-5 m-b-0">
                                <a title="Gravatar" target="_blank" href="{{ gravatar.profileUrl }}"><img class="social" src="/static/gravatar-logo.png" loading="lazy" alt="See profile in Gravatar.com">Gravatar Profile</a>
                            </p>
                        </div>
                        <div class="info col-lg-8 col-md-8 col-12">
                            <h3 class="m-t-0 m-b-0">{{ gravatar.displayName }}</h3>
                            <p>{{ gravatar.currentLocation }}</p>
                            <p>{{ gravatar.aboutMe }}</p>

                            <div class="buttons">
                                <a href="/mylist"><button class="profile-button btn btn-primary">Favorites</button></a>
                                <a href="/delete"><button class="btn btn-outline-erase">Delete My Account</button></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}