{% extends "layout.html" %}

{% block title %}
    Results
{% endblock %}

{% block main %}
  <section class="results tops">
    <fieldset class="cards-results cards-container">
    <legend class="jumbotron">Search Results</legend>
      {% for title in results %}
        <div class="title result">
          <!-- Controls if star is empty or full -->
          {% if title.id not in check %}
            <form id="{{ title.id }}" action="/favorite" method="post">
              <input name="imdb_id" type="text" style="display: none" value="{{ title.id }}">
            </form>
          {% else %}
            <form id="{{ title.id }}" action="/remove" method="post">
              <input name="imdb_id" type="text" style="display: none" value="{{ title.id }}">
            </form>
          {% endif %}
          <form action="/info" class="star" method="post">
            <input name="imdb_id" type="text" style="display: none" value="{{ title.id }}">
            <button class="btn-card" type="submit"><img src="{{ title.image }}" loading="lazy" alt="Poster for {{ title.title }}"></button>
            {% if title.id not in check %}
            <button class="fav-button" form="{{ title.id }}" type="submit"><i class="material-icons">&#xf06f</i></button>
            {% else %}
            <button class="fav-button" form="{{ title.id }}" type="submit"><i class="material-icons" style="color: gold;">&#xe838</i></button>
            {% endif %}
          </form>
        </div>
      {% endfor %}
    </fieldset>
  </section>

{% endblock %}